body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.accordion {
    width: 100%;
}

.section {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.section-header {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
}

.dropdown-symbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
